.border{
    
    padding : 5px ;
}

.wrap{
    background-color: #edf0f5;
}

.notice{
    padding : 15px ;
}

.banner{
    border: 1px solid #ddd;
    height: max-content;
    background-color: #eee;
    padding : 5px ;
}

.border2{
    border : 3px solid black ;
}


.circle{
    border-radius: 50%;
    width : 70px ;
    height : 70px ;
    border: 3px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.textTitle{
    color : #4D5159 ;
    font-size: 14px;
}

.text{
    font-size: 12px;
    color : #4D5159 ;
    
}

.line{
    position: relative;
}

.line::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 11px;
    top : 30% ;
    border-right: 1px solid #ddd;
    padding-left: 10px;
}


.color{
    color : #bbb ;
}

.terms{
    display: flex;
    justify-content: center;
}

.unfoldTitle{
    text-decoration: underline;
    color : #666 ;
    font-size: 13px;
    
}

.unfold{
    background-color: #fafafa;
    padding : 15px ;
    display: none;
}

.unfold.active{
    display: block ;

}

.infoWrap{
    display: none;
}

.infoWrap.infoActive{
    display: block;
}

.info{
    color : #636363 ;
    font-size: 12px;
}

.infoTitle{
    color : #a1a1a1 ;
    font-size: 12px;
}

.call{
    border: 1px solid #bbb;
    padding : 2px 3px ;
    background-color: #EBEEF1 ;
}

.pcVersion{
    border: 1px solid #ddd;
    padding : 15px ;
    background-color: #eee;
    text-align: center;
}

.bold{
    font-weight: bold;
}

.top{
    font-size: 13px;
    border: 1px solid #ddd;
    padding : 10px ;
    text-align: center;
    background-color: white;
}