.horizontalLine{
    width: 100%;
    height: 2px;
    background-color: #999;
}

.line{
    width : 100% ;
    height: 1px;
    background-color: #eee;
}


.iconWrap{
    width: 20px;
}

.topLine{
    border-bottom: 2px solid var(--line-color-lg);
    }
