.container {
    height: calc(100vh - calc(var(--headerHeight) + var(--footerHeight)));
}

.category {}

.category.active {
    background-color: white;
}

.mobileSearchBar {
    position: fixed;
    top: var(--headerHeight);
    height: 35px;
    z-index: 1000;
    padding: 0px 10px 5px 10px;
    background-color: #f2f2f2;
}