.borderBottom{
    border-bottom: 1px solid var(--line-color);
}
.horizontalLine{
    width : 100% ;
    height: 1px;
    background-color: #eee;
}

.topLine{
border-bottom: 2px solid var(--line-color-lg);
}



.iconWrap{
    
    width: 20px;
}