.paymentGuideContainer {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px 30px;
}
.payment {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
}

.paymentImageForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.border {
  margin-left: 10px;
  width: 0.5px;
  opacity: 0.6;
  height: 100px;
  background-color: #bbb;
}
.protectContainer {
  text-align: center;
}
.protect {
  font-weight: bold;
  font-size: 14px;
}
.protectMessage {
  padding-top: 20px;
  font-size: 12px;
}
