.container{
    padding : 15px ;
    background-color: var(--page-info-bg) ;
}

.progressBarWrap{
    margin-top: 30px;
    /* position: relative; */
}

.border{
    border: 1px solid black;
}

.title{
    font-size: 13px;
    color :  var(--page-info-title);
    font-weight: bold;
    
}

.content{
    font-size: 13px;
    font-weight: bold;
}

.progressBarTitle{
    font-size: 13px;
    padding: 28px 0 28px 5px;
    color :  var(--page-info-title);
    font-weight: bold;
}