.container {
    height:40px;
    border-bottom: 1px solid #eee;
    background-color: white;
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 10%);
}
.container.mobile {
    position : sticky;
    top:50px; 
    z-index: 999;
}

.menu {
    font-size: 17px;
    font-weight:700;
    cursor: pointer;
    transition: color 0.5s ease;
}

.menu:hover{
    color:var(--main-color);
}

.menu.active {
    color:var(--main-color);
}

.menu.mobile {
    font-size: 12px;
    cursor: pointer;
}