.topBg{
    width: 100%;
    height: 450px;
    background-size: cover;
    position: relative;
  }
  

.sectionImg{
    border-radius: 20px;
}
.horizontalCard{
    position: absolute;
    top: 10%;
    left: 0 ;
    
    height: 150%;
    box-shadow: 0 5px 30px #bbb;
    border-radius: 15px;
}